# This is the configuration file to run the cellranger pipeline which creates annotated data files for multiple samples!

# Default: refdata-gex-mm10-2020-Apwd
alignment_ref_genome_file: Default

 # Optional
 # Default: refdata-cellranger-vdj-GRCh38-alts-ensembl-7.1.0
alignment_ref_vdj_file: 

############# Option 1 ############
# Required: 
INCPM_link: 
  - 
  -

# Default: File_Path/INCPM
INCPM_directory: 

############# Option 2 ############
# Required:
fastq_path: 
  - #Add the path to the fastq files here
  - #Add the path to the fastq files here 
  - #Add the path to the fastq files here
  - #Add the path to the fastq files here

# Required: true or false
create_bam: 

# Optional: true or false
include_introns:  

# Optional: int
expected_cell: 

# Default: R1->28 Reads, R2->90 Reads
R1_gex_length: Default
R2_gex_length: Default

# Default: R1->28 Reads, R2->90 Reads
R1_vdj_length: 
R2_vdj_length: 

# Required: usually named after the prefix in the fastqs files
sample_name: 
  - 
  - 
  - 
  - 

# Required: please add the prefix of the fastq files respectevly to the fastq_path order
fastq_folders_name:
  - 
  - 
  - 
  - 

# Default: any
lanes_used: 
  - 
  -
  -
  - 

# Required: choose from the next list respectively to the fastq order: gene expression, Antibody Capture.
feature_types:
  - 
  - 
  - 
  - 

# Optional, options: 'feature_barcode' or 'cmo_barcode' (for now...)
multiplexing_method: feature_barcode

################ Feature Barcode Section ################
# only if you are using the feature_barcode as your multiplexing_method

############# Option 1 ############

# Optional: only if you already have a ready csv according to 10x format  
feature_reference_csv: 

############# Option 2 ############

# Only if you have left the feature_reference_csv empty

# Required: (if feature_barcode was not given)
hto_id:
  -   #Add hashing ID 
  -   #Add hashing ID 

# Default: hto_names = hto_id 
hto_names:
  - 
  - 


# Default: 'R2' 
hto_read:
  - Default
  - 

# Default: '5PNNNNNNNNNN(BC)' 
hto_pattern:
  - Default
  -


# Required (if feature_reference_csv wasn't given)
hto_sequence:
  - 
  - 

# Default: Antibody Capture 
HTO_feature_type:
  - Default
  -


################ End of Feature Barcode Section ################
############# CMO Section #################

# Optional: 
cmo_barcode_csv:  


# Required (if cmo_barcode_csv wasn't given)
sample_id_cmo:
  - 
  - 
  -
  - 

# Required (if cmo_barcode_csv wasn't given)
cmo_id:
  - 
  - 
  - 
  - 
############# End of CMO Section #################


##### Demultiplexing section #####


##### End of Demultiplexing section #####

